img,
picture {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  color: darkblue;
  text-decoration: underline;
  transition: color 0.2s ease-out, background-color 0.2s ease-out,
    text-decoration 0.2s ease-out;

  &:hover,
  &:focus,
  &:active {
    color: aqua;
    background-color: black;
    text-decoration: none;
  }
}
